@mixin clear-margins() {
  margin: 0;
  padding: 0;
}

html, body {
  @include clear-margins;
}

p:last-child {
  margin-bottom: 0;
}

.container {
  @include outer-container;
}

.column {
  @include border-left-radius(4px);
  @include border-right-radius(4px);
  border: 1px solid $light-gray;
  padding: em(15);
}

.large-column {
  @extend .column;
  @include span-columns(18 of 24);
}

.small-column {
  @extend .column;
  @include span-columns(6 of 24);
}

/* header {
  margin-bottom: em(10);
}

footer {
  margin: em(10);
  padding: em(10);
  border: 0px solid $light-gray;
  border-top-width: 1px;
} */
